@using Estore.Web.ViewModels.Reviews
@model ReviewInputModel

<form method="post" asp-controller="Reviews" asp-action="Create" >
    <br />
    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Your Name</label>
      <div class="col-md-9">
        <input id="name" name="author" type="text" placeholder="Example: John Doe" class="form-control">
      </div>
    </div>
    <br />
    <!-- Message body -->
    <div class="form-group">
      <label class="col-md-3 control-label" for="message">Tell us what you think</label>
      <div class="col-md-9">
        <textarea class="form-control" id="message" name="content" placeholder="Please enter your review here..." rows="5"></textarea>
      </div>
    </div>
    <br />
    <div class="submit-button">
        <button type="submit" class="btn main-btn">
            <span>
                Create a review
            </span>            
        </button>
    </div>
    <input type="hidden" name="productId" value="@Model.ProductId"/>
</form>