<br />
<h2 class="page-title about-page-title">About us</h2>
<div class="row">
	<div class="col-md-4">
		<!-- SINGLE-ABOUT-INFO START -->
		<div class="single-about-info">
			<img src="~/assets/images/viktor_asenov.jpg"/>
		</div>
		<!-- SINGLE-ABOUT-INFO END -->
	</div>
	<div class="col-md-4">
		<div class="single-about-info">
			<!-- OUR-TEAM START -->
			<div class="our-team">
				<h3>The creator</h3>
				<strong>Who made this platform?</strong>
				<p>The creator of this platform was fascinated by computers from
					a very young age, but never thought about getting into this more seriously.
				</p>
				<p>With the begining of 2020, he assigned for a <strong>"Programming Basics with C#"</strong>
					course in SoftUni academy, and so the journey began.
				</p>
				<p>Building an entire application from the very start to the very end was quite
					challenging, but very interesting, with a lot of ups and downs. The fruit of this
					hard work now stands before you.
				</p>
			</div>
			<!-- OUR-TEAM END -->
		</div>
	</div>
</div>