<br />
<h2 class="page-title about-page-title">About us</h2>
<div class="row">
	<div class="col-md-4">
		<!-- SINGLE-ABOUT-INFO START -->
		<div class="single-about-info">
			<img src="~/assets/images/viktor_asenov.jpg"/>
		</div>
		<!-- SINGLE-ABOUT-INFO END -->
	</div>
	<div class="col-md-4">
		<div class="single-about-info">
			<!-- OUR-TEAM START -->
			<div class="our-team">
				<h3>The creator</h3>
				<strong>Who made this platform?</strong>
				<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
				<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
				<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
			</div>
			<!-- OUR-TEAM END -->
		</div>
	</div>
</div>