<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs-10">
			<!-- ERROR-PAGE START -->
			<div class="error-page-area">
				<div class="error-content">
					<div class="error-image">
						<img class="wow bounceInUp animated" src="~/assets/images/img-404.webp" alt="404 error" style="visibility: visible; animation-name: bounceInUp;">
					</div>
					<div class="error-heading">
						<h2>This page is not found</h2>
						<h3>We're sorry, but the web address you're looking for is not available or you have no access to it. </h3>
					</div>
					@*<div class="error-form">
						<p>To find a product, please type its name in the field below.</p>
						<form class="error-ser-form" id="errorForm" method="post" action="#">
							<div class="form-group primary-form-group">
								<span>Search our product catalog:</span>
								<input type="text" value="" name="errorform" id="errorform" class="form-control input-feild">
								<input type="submit" name="errorsearch" value="Ok" class="error-ser-btn">
							</div>
						</form>
					</div>*@
					<div class="error-back-home">
						<a asp-controller="Home" asp-action="Index" class="main-btn"><i class="fa fa-chevron-left"></i>Back to home page</a>
					</div>
				</div>
			</div>
			<!-- ERROR-PAGE END -->
		</div>
	</div>
</div>
