<br />
<h2 class="text-center">Admin dashboard</h2>
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Users</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
          <a asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a>
      </td>
      <td>
          <a asp-area="Administration" asp-controller="Reviews" asp-action="Index">Reviews</a>
      </td>
    </tr>
  </tbody>
</table>
