@using Estore.Web.ViewModels.Categories
@model MainCategoryViewModel

<div class="all-gategory-product">
	<div class="row gategory-product">
		@foreach (var category in Model.SubMainCategories)
		{
			<div class="col-xl-4 col-md-3 col-sm-6 col-12">
				<div class="gategory-product-list">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html">
								<img src="@category.Image" alt="category-image">
							</a>						
						</div>					
					</div>
					<br />
					<div class="text-center">
						<button class="btn main-btn" asp-route-id="@category.Id">
							<span>
							    @category.Name
							</span>
						</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>