@using Estore.Common

<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zxx">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bstore - Fashion Modern HTML5 eCommerce Website Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.webp">


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700,400italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- CSS
    ============================================ -->
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/assets/css/jquery.bxslider.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui-slider.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/nivo-slider.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/ie.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/normalize.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

</head>

<body>
    <!-- HEADER AREA START -->
    <header class="hedaer-area">

        <!-- HEADER-TOP START -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- HEADER-LEFT-MENU START -->
                    <div class="col-md-6">
                        <div class="header-left-menu">
                            @if (this.User.Identity.IsAuthenticated) 
                            {
                                <div class="welcome-info">
                                    Welcome <span>@this.User.Identity.Name</span>
                                </div>
                            }

                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <div class="header-left-menu">
                                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Administration</a>
                                </div>                                               
                            }
                        </div>
                    </div>
                    <!-- HEADER-LEFT-MENU END -->
                    <!-- HEADER-RIGHT-MENU START -->
                    <div class="col-md-6">
                        <div class="header-right-menu">
                            <nav>
                                @if (!this.User.Identity.IsAuthenticated)
                                {
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="/Identity/Account/Login">Sign in</a></li>
                                        <li class="list-inline-item"><a href="/Identity/Account/Register">Register</a></li>
                                    </ul>
                                }
                                else
                                {
                                     <ul class="list-inline">
                                         <li class="list-inline-item">
                                            <a asp-area="" asp-controller="Wishlists" asp-action="Details">My WishList</a>
                                         </li>
                                         <li class="list-inline-item">
                                             <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                 <button type="submit" class="nav-link btn btn-link text-white">Sign out</button>
                                             </form>
                                         </li>                                          
                                     </ul>
                                }
                            </nav>
                        </div>
                    </div>
                    <!-- HEADER-RIGHT-MENU END -->
                </div>
            </div>
        </div>
        <!-- HEADER-TOP END -->
        <!-- HEADER-MIDDLE START -->
        <div class="header-middle d-none d-lg-block">
            <div class="container">
                <div class="header-middle-wraper">

                    <!-- LOGO START -->
                    <div class="logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo.webp" alt="bstore logo" /></a>
                    </div>
                    <!-- LOGO END -->
                    <!-- CATEGORYS-PRODUCT-SEARCH START -->
                    <div class="categorys-product-search">
                        <form action="#" method="get" class="search-form-cat">
                            <div class="search-product form-group">
                                <input type="text" class="form-control search-form" name="s"
                                       placeholder="Enter your search key ... " />
                                <button class="search-button" value="Search" name="s" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- CATEGORYS-PRODUCT-SEARCH END -->
                </div>
            </div>
        </div>
        <!-- HEADER-MIDDLE END -->
        <!-- MAIN-MENU-AREA START -->
        <div class="main-menu-area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <vc:main-menu></vc:main-menu>
                    <vc:orders></vc:orders>
                </div>
            </div>
        </div>
        <!-- MAIN-MENU-AREA END -->

    </header>
    <!-- HEADER AREA End -->

    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            @*<partial name="_CookieConsentPartial" />*@

            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>
    </section>    
    <!-- MAIN-CONTENT-SECTION END -->

    <!-- COMPANY-FACALITY START -->
    <section class="company-facality">
        <div class="container">
            <div class="row g-4">
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">FREE SHIPPING</h3>
                            <span>on order over $100</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-umbrella"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">24/7 SUPPORT</h3>
                            <span>online consultations</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">DAILY UPDATES</h3>
                            <span>Check out store for latest</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">30-DAY RETURNS</h3>
                            <span>moneyback guarantee</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
            </div>
        </div>
    </section>
    <!-- COMPANY-FACALITY END -->
    <!-- FOOTER-TOP-AREA START -->
    <section class="footer-top-area">
        <div class="container">
            <div class="footer-top-container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <!-- FOOTER-TOP-LEFT START -->
                        <div class="footer-top-left">
                            
                            <!-- ABOUT-US-AREA START -->
                            <div class="about-us-area">
                                <h2>About Us</h2>
                                <p>
                                    Estore - online shopping platform, builded to satisfy client's need of something fashionable
                                    and comfort.
                                </p>
                            </div>
                            <!-- ABOUT-US-AREA END -->
                            <!-- FLLOW-US-AREA START -->
                            <div class="fllow-us-area">
                                <h2>Follow us</h2>
                                <ul class="flow-us-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                            <!-- FLLOW-US-AREA END -->
                        </div>
                        <!-- FOOTER-TOP-LEFT END -->
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        
                        <div class="footer-top-right-2">
                            <div class="row">                                
                                <div class="col-md-4">
                                    <!-- FOTTER-MENU-WIDGET START -->
                                    <div class="fotter-menu-widget">
                                        <div class="single-f-widget">
                                            <h2>Information</h2>
                                            <ul>
                                                <li>
                                                    <a asp-controller="Home" asp-action="About">
                                                        <i class="fa fa-angle-double-right"></i>About Us
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- FOTTER-MENU-WIDGET END -->
                                </div>
                                <div class="col-md-4">
                                    <!-- FOTTER-MENU-WIDGET START -->
                                    <div class="fotter-menu-widget">
                                        <div class="single-f-widget">
                                            <h2>My account</h2>
                                            <ul>
                                                <li>
                                                    <a asp-controller="Wishlists" asp-action="Details">
                                                        <i class="fa fa-angle-double-right"></i>My Wishlist
                                                    </a>
                                                </li>
                                                @if (this.User.Identity.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-double-right"></i>Sign out</a>
                                                    </li>
                                                }                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- FOTTER-MENU-WIDGET END -->
                                </div>
                                <div class="col-12">
                                    <!-- PAYMENT-METHOD START -->
                                    <div class="payment-method">
                                        <img class="img-responsive pull-right" src="~/assets/images/payment.webp"
                                             alt="payment-method" />
                                    </div>
                                    <!-- PAYMENT-METHOD END -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER-TOP-AREA END -->
    <!-- COPYRIGHT-AREA START -->
    <footer class="copyright-area">
        <div class="container">
            <div class="copy-right">
                <address>&copy; 2022 <span> Estore </span></address>
            </div>
        </div>
    </footer>
    <!-- COPYRIGHT-AREA END -->


    <!-- JS
    ============================================ -->
    <!-- Modernizer & jQuery JS -->
    <script src="~/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/jquery.bxslider.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/jquery.nivo.slider.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jqueryui.js"></script>
    <script src="~/assets/js/wow.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 8,
                scrollwheel: false,
                center: new google.maps.LatLng(35.149868, -90.046678)
            };
            var map = new google.maps.Map(document.getElementById('googleMap'),
                mapOptions);
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        let targetElements = document.querySelectorAll(".fa-times-circle")

        for(let i = 0; i < targetElements.length; i++) {
            targetElements[i].addEventListener('click', deleteProduct);
        }

        function deleteProduct(e) {
            var productId = e.target.parentElement.parentElement.id;
            var antiForgeryToken = $("#antiForgForm input[name=__RequestVerificationToken]").val();
            $.ajax({
                type: "DELETE",
                url: "/api/Orders?" + $.param({
                    productid: productId,
                }),
                headers: {
                    "X-CSRF-TOKEN": antiForgeryToken,
                },
                success: function() {
                   var productElement =  e.target.parentElement.parentElement;
                   productElement.remove();
                },
            });          
        }
    </script>
     
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
